/*
1.posicionamiento(position fix,relative)
2.modelo caja(box model),(margin,padding,width,height).
3.tipografia
4.visuales
5.otros
*/
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;/*box sizing:cuando le demos dimension a un contenedor,se va a qedar en esa dimension*/
    
    
    
    
    
    
}
html{
    font-size: 62.5%;
    
    font-family: 'Inter', sans-serif;/*todo va a estar en DM Sans,cuando quiera cambiar fuente la cambio en el contenedor especifico*/
    font-family: 'DM Sans', sans-serif;

}
:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-black-plus:#282623;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white: #FFFFFF;
    --title:2.4rem;
    --subtitle:1.4rem;
    
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 334px;
    min-width: 320px;/*no va a ser menor de 320,la resolucion mas chica en celulares*/
    height: 334px;
    background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

    
}
header img{
    align-self: center;
    margin-top: 60px;
    width: 150px;
    height: 24px;

}
.header--title-container{
    text-align: center;
    align-self: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;/*va a utilizar un width del 90% entre 288 y 900px,despues de 900 va a dejar de crecer*/
    height: 218px;
    margin-top: 40px;

}
header h1{
    color: var(--just-white);
    font-size: 2.4rem;/*24px*/
    font-weight: bold;
    line-height: 2.6rem;/*altura del espacio que hay entre lineas*/
    color: var(--just-white);
}
header p{
    margin-top: 25px;
    font-size: 1.4rem;
    color: var(--soft-orange);
    font-weight: 500;
    line-height: 1.8rem;
}
header .header--button{
    position: absolute;
    /*alinear algo q es absolute*/
    left: calc(50% - 118px);/*al 50% solamente,te deja el div empezando desde la mitad,hacia la derecha,osea no queda del todo centrado,se le resta unos pixeles para q qede masomenos en el medio*/
    display: block;
    top: 270px;
    margin-top: 35px;
    padding:15px ;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*sombra alrededor del boton,por afuera*/
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;/*le saco el subrayado*/
    color: var(--black);
}
.header--button span{
    /*para poder agregarle background-img tiene q tener block o inline-block*/
    width: 13px;
    height: 8px;
    margin:0 0 0 10px;
    display: inline-block;
    background-image: url("./assets/icons/down-arrow.svg");
}
/*/////////////////parte white ///////////////////////*/
/* .white{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white figure img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
} */
/* .white .title{
    font-size: var(--title);
    font-weight: bold;
    text-align: center;
    line-height: 26px ;
    
}
.white .subtitle{
    font-size: var(--subtitle);
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
} */

main{
    width: 100%;
    height: auto;/*el mismo contenido va a ir definiendo la altura*/
    background-color: var(--off-white);
    min-width: 320px;/*para que este contenedor no se rompa cuando sea mas chica la resolucion,pero no deberia ya q la minima es 320*/
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    
}
.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;/*no le va a agregar margen de arriba abajo,y de izq a derecha va a calcular el marignp ara q se quede en el centro*/

}
.main-exchange-container .backgroundImg {
    margin: 0 auto;/*centro*/
    background-image: url('./assets/img/Bitcoin.svg');
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;/*siempre,sin importar el tama;o del contenedor de la img vamos a tener visibilizad y va aestar en el centro
    */
    background-repeat: no-repeat;/*si el tama;o de la img es muy chica va a replicar esa img para recubrir el contenedor,entonces con eso no se repite*/


}
.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(#757575);/*este color no se repite*/

}
.main-tables-container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    
    
    

}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    
    /*no le va a agregar margen de arriba abajo,y de izq a derecha va a calcular el marignp ara q se quede en el centro*/
    font-family: "Inter",sans-serif;/*si no encuntra la fuente inter,va la sans serif q es por default*/
}

.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    list-style: 2.3rem;
    color: var(--bitcoin-orange);
}
.main-tables-container div:nth-child(2) .currency-table--title{
    color: var(--secondary-blue);
}
.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;margin: 0 auto;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table{
    width: 100%;
    height: 100%;

}
.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    color: var(--grey);
    background-color: var(--just-white);

}
.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-right{
    border-bottom-right-radius: 15px;
}
.currency-table--container .table__bottom-left{
    border-bottom-left-radius: 15px;
}
.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:2px ;
}
.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:2px ;
}
.currency-table--date{
    width: 190px;
    height:30px ;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;

}
.blue .currency-table--date{
    background-color: var(--soft-blue);
}

.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}
.black{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--warm-black);
    min-width: 320px;
    padding: 20px 10px;
    width: 100%;
    height: auto;
    

    
}

.black span{
    top: -12px;
    position: absolute;
    width: 37px;
    height: 24px;
    background-image: url('./assets/icons/batata.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.black img{
    width: 20px;
    height: 20px;
    margin: 0 0 10px;
}
.black .container{
    margin: 10px auto;
    width: 90%;
    min-width: 228px;
    max-width: 400px;
    
    padding: 15px 15px 25px;
    border-radius: 4px;
    background-color: var(--warm-black-plus);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.black .title{
    font-size: var(--title);
    color: white;
    text-align: center;
    font-weight: 700;
    line-height: 26px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.black h2{
    margin-bottom: 15px;
    color: var(--just-white);
}

.black p{
    margin-bottom: 0;
    color: #808080;
    font-size: var(--subtitle);
    line-height: 18px;
    font-weight: 500;

}
.bitcoin-img-container{
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container h2{
    padding-top: 100px;
    font-size: var(--title);
    color: var(--just-white);
    font-weight: bold;
    line-height: 2.6rem;

}
.main-plans-container{
    text-align: center;
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
}
.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--title h2{
    padding-top: 50px;
    font-size: var(--title);
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p{
    padding-top: 30px;
    font-size: var(--subtitle);
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}


/*barra de desplazamiento de cards*/
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
   
}
.plans-container--slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}

  .plans-container--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}
.plans-container--card{

    position: relative;
    scroll-snap-align: center;/*hace q con la minima deteccion de scroll(con mouse o con el dedo en mobile),centra la tarjeta de forma horizontal*/
    width: 190px;/*para q se vea en los costados las otras tarjetas*/
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 15px 0;/*habia un exedente de margin a la derecha por el "modelo de caja",con auto se soluciona*/
    padding: 25px 25px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

}
.plans-container--slider .recommended{
    position: absolute;
    width: 101px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 5px;
    top: -15px;
    left: calc(50% - 48px);
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
    text-align: center;
    padding-top: 8px;
    color: var(--just-white);
}

.plan-info-container{
    padding-top: 10px;
    position: relative;
}
.plan-info-container .plan-card--title{
    font-size: var(--subtitle);
    font-weight: 500;
    color: #000000;
}
.plan-info-container .plan-card--price{
    font-weight: 700;
    font-size: 52px;

}
.plan-card--price s{
    font-size: 12px;
    top: 40px;
    left: 48px;
    position: absolute;
}
.plan-info-container .plan-card--saving{
    font-size: 12px;
    line-height: 14px;
    color: #757575;
}
.plan-info-container .plan-card-ca{
    font-family: 'DM Sans', sans-serif;
    background-color:var(--off-white);
    width: 90%;
    height: 48px;
    border:  var(--bitcoin-orange) solid 2px;
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 700;
    align-items: center;
    padding-right: 50px;
    margin-top: 22px;


}
.plan-info-container .plan-card-ca s{
    position: absolute;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    right: 30px;
    width:30px ;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}
.basic .recommended{
    background-color: var(--secondary-blue);
}
.basic .plan-card--price s{
    left: 53px;
}
.premium .recommended{
    color: var(--just-white);
    background-color: var(--warm-black-plus);
    border: 2px solid var(--bitcoin-orange);
    padding-top: 6px;
}
.premium{
    border: 3px solid var(--bitcoin-orange);
    background-color: var(--warm-black);
    color: var(--just-white);
}
.premium .plan-card--price s{
    left: 35px;
}
.premium .plan-card--title{
    color: var(--just-white);
}
.premium .plan-card-ca{
    background-color: var(--warm-black);
    color: var(--just-white);
    margin-top: 5px;
}
















footer{
    background-color: var(--bitcoin-orange);
    min-width: 320px;
    width: 100%;
    height: 150px;
    color: var(--just-white);
    display: flex;
    justify-content: row;
}

.footer-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container a{
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--just-white);
    font-size:var(--subtitle) ;
    text-decoration: none;
    padding: 5px;
}
.footer-container img {
    object-fit: cover;
    width: 80px;
    height: auto;

}













@media(max-width:765px){
    
}
